<div class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'dashboard:dashboard' %}">
                <i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:report' %}">
                    <i class="fa-solid fa-chart-line"></i> Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:settings' %}">
                    <i class="fa-solid fa-gear"></i> Settings</a>
            </li>
        </ul>
    </div>
</div>
